CommandScheduler.Infrastructure/Service References/CommandBroadcastService/CommandScheduler.Infrastructure.Server.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandScheduler.Infrastructure.Server.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandScheduler.Infrastructure.Server.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientMachineRegisterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IPAddressV4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientMachineRegisterInfo" nillable="true" type="tns:ClientMachineRegisterInfo" />
  <xs:complexType name="CommandInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddressV4" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandInfo" nillable="true" type="tns:CommandInfo" />
</xs:schema>