CommandScheduler.Infrastructure/Service References/CommandBroadcastService/CommandScheduler.Infrastructure.Server.Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandScheduler.Infrastructure.Server.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandScheduler.Infrastructure.Server.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommandResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandResponse" nillable="true" type="tns:CommandResponse" />
</xs:schema>